<ul id="markdown-toc">
    <li><a href="#the-end" id="markdown-toc-the-end">The End</a></li>
    <li><a href="#tools" id="markdown-toc-tools">Tools</a></li>
    <li><a href="#quiz-show" id="markdown-toc-quiz-show">Quiz Show</a></li>
    <li><a href="#emoji" id="markdown-toc-emoji">Emoji</a></li>
  </ul>
  
  <h2 id="the-end">The End</h2>
  
  <ul>
    <li data-marker="*">We’d like to thank everyone who helped make CS50 possible:
      <ul>
        <li data-marker="*">Office for the Arts at Harvard, Memorial Hall / Lowell Hall Complex</li>
        <li data-marker="*">Harvard FAS’s Education Support Services</li>
        <li data-marker="*">CS50’s own production team behind the cameras</li>
        <li data-marker="*">CS50’s staff and course assistants</li>
      </ul>
    </li>
    <li data-marker="*">And you may have noticed a few puppets around the theater, to add some interest to some shots in our lecture videos.</li>
    <li data-marker="*">Don’t forget that, ultimately:
      <blockquote>
        <p>what ultimately matters in this course is not so much where you end up relative to your classmates but where you end up relative to yourself when you began</p>
      </blockquote>
    </li>
    <li data-marker="*">Recall that we started by printing out characters in the shape of a pyramid from the Super Mario Bros. games, then progressed to analyzing the readability of sentences, implementing algorithms for elections, and applying filters to images.</li>
    <li data-marker="*">Then, we learned about data structures, building hash tables and tries to search for data quickly. Finally, we learned several new languages, Python, SQL, HTML, CSS, and JavaScript to build our own web application.</li>
    <li data-marker="*">We’ve learned some first principles:
      <ul>
        <li data-marker="*">computational thinking, where we think more logically and methodically</li>
        <li data-marker="*">using algorithms to solve problems, by taking some input and producing some output</li>
      </ul>
    </li>
    <li data-marker="*">And now, with all the tools and skills we’ve learned, we hope that in the future we’ll consider whether we, and others, <em>should</em> be building (and using) programs and applications, just because we <em>can</em>.</li>
    <li data-marker="*">We’ve learned to evalute our work on the axes of correctness, design, and style.</li>
    <li data-marker="*">We can also use the concept of abstraction to break down a complex problem into layers and solve them one at a time.</li>
    <li data-marker="*">We aspire to be precise, too, in our instructions, whether in our programs or other humans.
      <ul>
        <li data-marker="*">We ask a volunteer to come on stage. They are able to see a drawing of a cube that the audience can’t, and give a series of verbal instructions to the audience for how to draw it themselves. Since everyone interpreted each instruction slightly differently, the final drawings all ended up very different.</li>
        <li data-marker="*">We could have used abstraction to just say, “draw a cube,” but that wouldn’t include details about its size or angle. We could have been more precise by saying, “draw a line at 45 degrees,” but that would be tricky to follow as well.</li>
      </ul>
    </li>
    <li data-marker="*">We have another volunteer come on the stage, and the audience now tells the volunteer to draw a stick figure saying “Hi.”</li>
  </ul>
  
  <h2 id="tools">Tools</h2>
  
  <ul>
    <li data-marker="*">After CS50, we might want to use more advanced tools for developing software:
      <ul>
        <li data-marker="*"><a href="https://developer.apple.com/xcode/">https://developer.apple.com/xcode/</a></li>
        <li data-marker="*"><a href="https://docs.microsoft.com/en-us/windows/wsl/about">https://docs.microsoft.com/en-us/windows/wsl/about</a></li>
        <li data-marker="*">…</li>
      </ul>
    </li>
    <li data-marker="*">We can watch a <a href="https://www.youtube.com/watch?v=MJUJ4wbFm_A">workshop</a> from a former TF on Git, a version-control software used to manage different versions of code and enable collaboration with others.</li>
    <li data-marker="*"><a href="https://code.visualstudio.com/">VS Code</a> is also available for download, to our own computers, rather than running in the cloud.</li>
    <li data-marker="*">We can host a web site with services like:
      <ul>
        <li data-marker="*"><a href="https://pages.github.com/">https://pages.github.com/</a></li>
        <li data-marker="*"><a href="https://www.netlify.com/">https://www.netlify.com/</a></li>
        <li data-marker="*">…</li>
      </ul>
    </li>
    <li data-marker="*">We can run web apps with hosts like:
      <ul>
        <li data-marker="*"><a href="https://www.heroku.com/platform">https://www.heroku.com/platform</a></li>
        <li data-marker="*"><a href="https://aws.amazon.com/education/awseducate/">https://aws.amazon.com/education/awseducate/</a></li>
        <li data-marker="*"><a href="https://azure.microsoft.com/en-us/free/students/">https://azure.microsoft.com/en-us/free/students/</a></li>
        <li data-marker="*"><a href="https://cloud.google.com/edu/students">https://cloud.google.com/edu/students</a></li>
        <li data-marker="*"><a href="https://education.github.com/pack">https://education.github.com/pack</a></li>
        <li data-marker="*">…</li>
      </ul>
    </li>
    <li data-marker="*">And sources to read more on technology and programming include:
      <ul>
        <li data-marker="*"><a href="https://www.reddit.com/r/learnprogramming/">https://www.reddit.com/r/learnprogramming/</a></li>
        <li data-marker="*"><a href="https://www.reddit.com/r/programming/">https://www.reddit.com/r/programming/</a></li>
        <li data-marker="*"><a href="https://stackoverflow.com/">https://stackoverflow.com/</a></li>
        <li data-marker="*"><a href="https://serverfault.com/">https://serverfault.com/</a></li>
        <li data-marker="*"><a href="https://techcrunch.com/">https://techcrunch.com/</a></li>
        <li data-marker="*"><a href="https://news.ycombinator.com/">https://news.ycombinator.com/</a></li>
        <li data-marker="*">…</li>
      </ul>
    </li>
    <li data-marker="*">CS50 has many <a href="https://cs50.harvard.edu/x/communities">communities</a> as well.</li>
  </ul>
  
  <h2 id="quiz-show">Quiz Show</h2>
  
  <ul>
    <li data-marker="*">We host a quiz show with the audience, with the following questions:
      <ul>
        <li data-marker="*">What does CSS stand for?
          <ul>
            <li data-marker="*">Cascading Style Sheet</li>
          </ul>
        </li>
        <li data-marker="*">Which best describes the role of a compiler?
          <ul>
            <li data-marker="*">Turn source code into machine code</li>
          </ul>
        </li>
        <li data-marker="*">What is the type of <code class="code" class="language-plaintext highlighter-rouge">argc</code>?
          <ul>
            <li data-marker="*"><code class="code" class="language-plaintext highlighter-rouge">int</code></li>
          </ul>
        </li>
        <li data-marker="*">What is the searching efficiency of a Balanced Binary Search Tree?
          <ul>
            <li data-marker="*">\(O(\log n)\)</li>
          </ul>
        </li>
        <li data-marker="*">What was the CS50 Duck’s Halloween costume?
          <ul>
            <li data-marker="*">Vampire</li>
          </ul>
        </li>
        <li data-marker="*">In C, how can we unify several variables of different types into a single, new type?
          <ul>
            <li data-marker="*">Structs</li>
          </ul>
        </li>
        <li data-marker="*">In Python, which of the following statements is false?
          <ul>
            <li data-marker="*">Arrays in Python are of a fixed size</li>
          </ul>
        </li>
        <li data-marker="*">What does <code class="code" class="language-plaintext highlighter-rouge">strcmp</code> return in C?
          <ul>
            <li data-marker="*">An integer</li>
          </ul>
        </li>
        <li data-marker="*">What does David Malan’s phone number [949-468-2750] play when you call it?
          <ul>
            <li data-marker="*">Never Gonna Give You Up</li>
          </ul>
        </li>
        <li data-marker="*">From which of the following places does malloc get free memory for a memory to use?
          <ul>
            <li data-marker="*">heap</li>
          </ul>
        </li>
        <li data-marker="*">Suppose I have an unsorted list of items (store receipts, perhaps). Should I sort the items before searching for an element?
          <ul>
            <li data-marker="*">If you will be searching the list many times, then yes, you should sort first</li>
          </ul>
        </li>
        <li data-marker="*">When you run the “CREATE INDEX” command in SQL, what type of data structure do you create?
          <ul>
            <li data-marker="*">B-trees</li>
          </ul>
        </li>
        <li data-marker="*">What HTTP status code means “I’m a teapot”?
          <ul>
            <li data-marker="*">418</li>
          </ul>
        </li>
        <li data-marker="*">What is an example of a SQL injection attack?
          <ul>
            <li data-marker="*">When someone submits malicious SQL commands via a web form</li>
          </ul>
        </li>
        <li data-marker="*">How are the elements of an array stored in memory?
          <ul>
            <li data-marker="*">Contiguously</li>
          </ul>
        </li>
        <li data-marker="*">Which SQL query would allow you to select the ID of a specific movie star (Zendaya) in a table of movie stars?
          <ul>
            <li data-marker="*"><code class="code" class="language-plaintext highlighter-rouge">SELECT id FROM moviestars WHERE name = 'Zendaya'</code></li>
          </ul>
        </li>
        <li data-marker="*">Why is a hash table faster to search than a linked list, even though the runtime for both is \(O(n)\)?
          <ul>
            <li data-marker="*">The hash table creates shorter linked lists to search rather than one long linked list</li>
          </ul>
        </li>
        <li data-marker="*">Game of thrones is a…
          <ul>
            <li data-marker="*">All of the above (Comedy, Drama, Historical, Fantasy, Documentary, Romance, Sci-Fi)</li>
          </ul>
        </li>
        <li data-marker="*">Which of the following is a golden rule when allocating memory?
          <ul>
            <li data-marker="*">All of the above (Every block of memory that you malloc must be freed, Only memory that you malloc should be freed, Do not free a block of memory more than once)</li>
          </ul>
        </li>
        <li data-marker="*">What do the binary bulbs on stage spell today?
          <ul>
            <li data-marker="*">❤️</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  
  <h2 id="emoji">Emoji</h2>
  
  <ul>
    <li data-marker="*">In week 0, we talked about representing numbers and letters with ASCII. Emoji, too, might be represented with four bytes, like <code class="code" class="language-plaintext highlighter-rouge">11110000 10011111 10011000 10110111</code>.</li>
    <li data-marker="*">And you may have noticed that there are occasionally new emoji, governed by the <a href="https://unicode.org/consortium/consort.html">Unicode Consortium</a>.</li>
    <li data-marker="*">Today we’re joined by Jennifer 8. Lee, ‘99, one of David’s former classmates, who has been involved in <a href="http://www.jennifer8lee.com/">many endeavors</a>, but particularly for advocating for emojis across cultures and groups of people:<br>
  <img src="./static/imagesnotes/emoji.webp" alt="Emoji including hijab emoji with Rayouf Alhumedhi, sauna emoji with the Finnish government, red envelope emoji with Baidu, Dumpling emoji through Kickstarter, broccoli emoji with vegetarians, and DNA emoji with GE and the American Chemical Society" width="466"></li>
    <li data-marker="*">Jennifer took CS50 in 1994, and one of her classmates was the first intern for <a href="https://en.wikipedia.org/wiki/Netscape">Netscape</a>. In fact, Google did not exist when she was an undergrad.</li>
    <li data-marker="*">A few years ago, Jennifer was texting her friend, Yiying Lu, when they both realized that a dumpling emoji doesn’t exist. So her friend, who is a designer, came up with her own image of a dumpling, and Jennifer was inspired to investigate who controls emoji.</li>
    <li data-marker="*">She discovered the Unicode Consortium, a non-profit organization based in California, with technology companies and other organizations as voting members.</li>
    <li data-marker="*">It turns out that, for $75 a year, individuals can become non-voting members who can attend meetings. Jennifer signed up and attended a meeting which was run by just a few people around a table.</li>
    <li data-marker="*">So with her friend, Jennifer founded <a href="http://www.emojination.org/">Emojination</a>, a group with the motto “Emoji By The People, For The People.”</li>
    <li data-marker="*">After running campaigns to gain popular support, they created a proposal for the emoji subcommittee in the Unicode Consortium. Once the proposal is approved, it is voted on.</li>
    <li data-marker="*">There are also objective factors for whether an emoji is included:
      <ul>
        <li data-marker="*">Popular demand, or frequent requests</li>
        <li data-marker="*">Multiple usages or meanings</li>
        <li data-marker="*">Visual distinctiveness, or easily recognizable at small sizes</li>
        <li data-marker="*">Whether they complete some gap, such as an orange heart among red, yellow, green, and blue hearts</li>
        <li data-marker="*">Existing vendor compatibility, such as if one company already unofficially supports it</li>
      </ul>
    </li>
    <li data-marker="*">Factors that are considered against an emoji’s inclusion:
      <ul>
        <li data-marker="*">Too specific, or narrow</li>
        <li data-marker="*">Redundant, or too similar to an existing emoji</li>
        <li data-marker="*">Not visually discernible, like a cave</li>
        <li data-marker="*">No logos, brands, deities, celebrities</li>
        <li data-marker="*">No more flags</li>
      </ul>
    </li>
    <li data-marker="*">Once the proposals for new emoji are voted on, which happens once a year, then the companies that build operating systems and software add them to their devices and apps.</li>
    <li data-marker="*">Emoji came about as little symbols popular in Japan many years ago, and as smartphones became popular as well, there needed to be a standard for all the software and devices that people use.</li>
    <li data-marker="*">And the Unicode Consortium’s mission is to “enable people around the world to use computers in any language”.</li>
    <li data-marker="*">So the Unicode Consortium has three main projects:
      <ul>
        <li data-marker="*">Encoding characters (including, but not limited to emoji), with over 100,000 now</li>
        <li data-marker="*">Localization resources, like a repository of currencies or date and time formats for different countries</li>
        <li data-marker="*">Programming libraries, so developers can localize their software more easily</li>
      </ul>
    </li>
    <li data-marker="*">In 2010, the Unicode 6.0 standard included the first emoji.</li>
    <li data-marker="*">A Unicode code point is a unique number assigned to each Unicode character.</li>
    <li data-marker="*">And some emoji might still be ambiguous, like 🙃.</li>
    <li data-marker="*">It turns out that anyone can propose a emoji, as well, and many individuals and organizations have created proposals that were ultimately accepted, with the help of Emojination.</li>
    <li data-marker="*">Jennifer personally cares about emoji because she grew up speaking Chinese, and many emoji and Chinese characters have similarities in representing objects or being combined to represent another concept.
      <ul>
        <li data-marker="*">The Chinese character for a forest is the character for a tree, right next to another character for a tree.</li>
        <li data-marker="*">The character for “house” or “home” is a roof over the character for pig, as though a home is where your pigs are.</li>
        <li data-marker="*">The character for “good” is the character for a woman next to a character for a child, which might be problematic by today’s standards.</li>
      </ul>
    </li>
    <li data-marker="*">These examples, and more, will be in <a href="https://hanmoji.org/">The Hanmoji Handbook</a>, coming out next year.</li>
    <li data-marker="*">It turns out that the Unicode Standard also allows for a special character, the zero-width joiner, that combines multiple emoji. An emoji for an occupation, such as a farmer or chef, might be a man or woman emoji combined with a tractor or frying pan.</li>
    <li data-marker="*">Skin tones, too, are combinations of existing emoji and certain colors.</li>
    <li data-marker="*">It turns out that the face with tears of joy emoji, 😂, is almost 10% of all emoji usage. Almost all of the rest are used relatively infrequently, since there are so many.</li>
    <li data-marker="*">Next year, there will be more new emoji, including hearts with more colors, birds, flowers, animals, food, objects, and even a shaking face.</li>
    <li data-marker="*">Perhaps you, too, will come up with a new emoji proposal that can impact billions of people!</li>
  </ul>