<ul id="markdown-toc">
    <li><a href="#welcome" id="markdown-toc-welcome">Welcome</a></li>
    <li><a href="#what-is-computer-science" id="markdown-toc-what-is-computer-science">What is computer science?</a></li>
    <li><a href="#representing-numbers" id="markdown-toc-representing-numbers">Representing numbers</a></li>
    <li><a href="#text" id="markdown-toc-text">Text</a></li>
    <li><a href="#images-video-sounds" id="markdown-toc-images-video-sounds">Images, video, sounds</a></li>
    <li><a href="#algorithms" id="markdown-toc-algorithms">Algorithms</a></li>
    <li><a href="#pseudocode" id="markdown-toc-pseudocode">Pseudocode</a></li>
    <li><a href="#scratch-basics" id="markdown-toc-scratch-basics">Scratch basics</a></li>
    <li><a href="#abstraction" id="markdown-toc-abstraction">Abstraction</a></li>
    <li><a href="#conditionals-and-more" id="markdown-toc-conditionals-and-more">Conditionals and more</a></li>
    <li><a href="#demos" id="markdown-toc-demos">Demos</a></li>
  </ul>
  
  <h2 id="welcome">Welcome</h2>
  
  <ul>
    <li data-marker="*">This year, we’re back in Sanders Theatre, and David took CS50 himself as a sophomore years ago, but only because the professor at the time allowed him to take the course pass/fail.</li>
    <li data-marker="*">It turns out that computer science was less about programming than about problem solving. And though there may be frustration from feeling stuck or making mistakes, there will also be a great sense of gratification and pride from getting something to work or completing some task.</li>
    <li data-marker="*">In fact, David lost two points on his first assignment for not following all of the instructions correctly:<br>
  <img src="assignment.png" alt="assignment showing code with -2 points" width="400">
      <ul>
        <li data-marker="*">And while this code (written in a programming language as opposed to a language like English) looks cryptic at first, it may only take weeks or months before we can understand main programming concepts and even teach ourselves new languages.</li>
      </ul>
    </li>
    <li data-marker="*">Importantly,
      <blockquote>
        <p>what ultimately matters in this course is not so much where you end up relative to your classmates but where you end up relative to yourself when you began</p>
      </blockquote>
    </li>
    <li data-marker="*">In fact, two-thirds of CS50 students have never taken a computer science course before.</li>
  </ul>
  
  <h2 id="what-is-computer-science">What is computer science?</h2>
  
  <ul>
    <li data-marker="*">Computer science is fundamentally problem solving, but we’ll need to be precise and methodical.</li>
    <li data-marker="*">We can think of <strong>problem solving</strong> as the process of taking some input (a problem we want to solve) and generate some output (the solution to our problem).<br>
  <img src="input_output.png" alt="word &quot;input&quot;, arrow into box, arrow out of box, word &quot;output&quot;" width="400"></li>
    <li data-marker="*">To begin doing that, we’ll need a way to represent inputs and outputs, so we can store and work with information in a standardized way.</li>
  </ul>
  
  <h2 id="representing-numbers">Representing numbers</h2>
  
  <ul>
    <li data-marker="*">To count the number of people in a room, we might start by using our fingers, one at a time. This system is called <strong>unary</strong>, where each digit represents a single value of one.</li>
    <li data-marker="*">To count to higher numbers, we might use ten digits, 0 through 9, with a system called <strong>decimal</strong>.</li>
    <li data-marker="*">Computers use a simpler system called <strong>binary</strong>, with just two digits, 0 and 1.</li>
    <li data-marker="*">For example, in binary this would be 0:
      <pre>0 0 0
  </pre>
    </li>
    <li data-marker="*">And this would be 1:
      <pre>0 0 1
  </pre>
      <ul>
        <li data-marker="*">(We don’t need the leading zeroes, but we’ll include them to see the patterns more easily.)</li>
      </ul>
    </li>
    <li data-marker="*">Since there is no digit for 2, we’ll need to change another digit to represent the next number:
      <pre>0 1 0
  </pre>
    </li>
    <li data-marker="*">Then we’ll “add 1” to represent 3:
      <pre>0 1 1
  </pre>
    </li>
    <li data-marker="*">And continue the pattern for 4 …:
      <pre>1 0 0
  </pre>
    </li>
    <li data-marker="*">… 5 …:
      <pre>1 0 1
  </pre>
    </li>
    <li data-marker="*">… 6 …:
      <pre>1 1 0
  </pre>
    </li>
    <li data-marker="*">… and 7:
      <pre>1 1 1
  </pre>
    </li>
    <li data-marker="*">Each <em>binary digit</em> is also called a <strong>bit</strong>.</li>
    <li data-marker="*">Since computers run on electricity, which can be turned on or off, we can simply represent a bit by turning some switch on or off to represent a 0 or 1.</li>
    <li data-marker="*">Inside modern computers, there are billions of tiny switches called <strong>transistors</strong> that can be turned on and off to represent different values.</li>
    <li data-marker="*">And the pattern to count in binary with multiple bits is the same as the pattern in decimal with multiple digits.</li>
    <li data-marker="*">For example, we know the following number in decimal represents one hundred and twenty-three.
      <pre>1 2 3
  </pre>
      <ul>
        <li data-marker="*">The <code class="language-plaintext highlighter-rouge">3</code> is in the ones place, the <code class="language-plaintext highlighter-rouge">2</code> is in the tens place, and the <code class="language-plaintext highlighter-rouge">1</code> is in the hundreds place.</li>
        <li data-marker="*">So <code class="language-plaintext highlighter-rouge">123</code> is <code class="language-plaintext highlighter-rouge">100×1 + 10×2 + 1×3 = 100 + 20 + 3 = 123</code>.</li>
        <li data-marker="*">Each place for a digit represents a power of ten, since there are ten possible digits for each place. The rightmost place is for 10<sup>0</sup>, the middle one 10<sup>1</sup>, and the leftmost place 10<sup>2</sup>:
          <pre>10<sup>2</sup> 10<sup>1</sup> 10<sup>0</sup>
  1   2   3
  </pre>
        </li>
      </ul>
    </li>
    <li data-marker="*">In binary, with just two digits, we have powers of two for each place value:
      <pre>2<sup>2</sup> 2<sup>1</sup> 2<sup>0</sup>
  #  #  #
  </pre>
      <ul>
        <li data-marker="*">This is equivalent to:
          <pre>4  2  1
  #  #  #
  </pre>
        </li>
      </ul>
    </li>
    <li data-marker="*">With all the light bulbs or switches off, we would still have a value of 0:
      <pre>4 2 1
  <b>0 0 0</b>
  </pre>
    </li>
    <li data-marker="*">Now if we change the binary value to, say, <code class="language-plaintext highlighter-rouge">0 1 1</code>, the decimal value would be 3, since we add the 2 and the 1:
      <pre>4 2 1
  <b>0 1 1</b>
  </pre>
    </li>
    <li data-marker="*">To count higher than 7, we would need another bit to the left to represent the number 8.</li>
    <li data-marker="*">Most computers use 8 bits at a time, like <code class="language-plaintext highlighter-rouge">00000011</code> for the number 3.</li>
  </ul>
  
  <h2 id="text">Text</h2>
  
  <ul>
    <li data-marker="*">To represent letters, all we need to do is decide how numbers map to letters. Some humans, many years ago, collectively decided on a standard mapping of numbers to letters. The letter “A”, for example, is the number 65, and “B” is 66, and so on.  In binary, the letter “A” is the pattern <code class="language-plaintext highlighter-rouge">01000001</code>. By using context, like the file format, different programs can interpret and display the same bits as numbers or text.</li>
    <li data-marker="*">The standard mapping, <a href="https://en.wikipedia.org/wiki/ASCII"><strong>ASCII</strong></a>, also includes lowercase letters and punctuation.</li>
    <li data-marker="*">When we receive a text message, we might be getting patterns of bits that have the decimal values <code class="language-plaintext highlighter-rouge">72</code>, <code class="language-plaintext highlighter-rouge">73</code>, and <code class="language-plaintext highlighter-rouge">33</code>. Those bits would map to the letters <code class="language-plaintext highlighter-rouge">HI!</code>. And the sequences of bits we receive would look like <code class="language-plaintext highlighter-rouge">01001000</code>, <code class="language-plaintext highlighter-rouge">01001001</code>, and <code class="language-plaintext highlighter-rouge">00100001</code>, with 8 bits for each character.</li>
    <li data-marker="*">With eight bits, or one byte, we can have 2<sup>8</sup>, or 256 different values (including zero). (The highest <em>value</em> we can count up to would be 255.)</li>
    <li data-marker="*">And we might already be familiar with using bytes as a unit of measurement for data, as in megabytes or gigabytes, for millions or billions of bytes.</li>
    <li data-marker="*">Other characters, such as letters with accent marks and symbols in other languages, are part of a standard called <a href="https://en.wikipedia.org/wiki/Unicode"><strong>Unicode</strong></a>, which uses more bits than ASCII to accommodate all these characters.</li>
    <li data-marker="*">When we receive an <a href="https://en.wikipedia.org/wiki/Emoji">emoji</a>, our computer is actually just receiving a number in binary that it then maps to the image of the emoji based on the Unicode standard.
      <ul>
        <li data-marker="*">For example, the “face with medical mask” emoji is just the four bytes <code class="language-plaintext highlighter-rouge">11110000 10011111 10011000 10110111</code>:<br>
  <img src="medical_mask.png" alt="emoji with face with medical mask" width="400"></li>
        <li data-marker="*">And it turns out that different companies that create software for their devices will have slightly different images that represent each emoji, since only the descriptions have been standardized.</li>
      </ul>
    </li>
  </ul>
  
  <h2 id="images-video-sounds">Images, video, sounds</h2>
  
  <ul>
    <li data-marker="*">With bits, we can map numbers to colors as well. There are many different systems to represent colors, but a common one is <strong>RGB</strong>, which represents colors by indicating the amount of red, green, and blue within each color.</li>
    <li data-marker="*">For example, our pattern of bits earlier, <code class="language-plaintext highlighter-rouge">72</code>, <code class="language-plaintext highlighter-rouge">73</code>, and <code class="language-plaintext highlighter-rouge">33</code> might indicate the amount of red, green, and blue in a color. (And our programs would know those bits map to a color if we opened an image file, as opposed to receiving them in a text message.)
      <ul>
        <li data-marker="*">Each number might be 8 bits, with 256 possible values, so with three bytes, or 24 bits, we can represent millions of colors. Our three bytes from above would represent a dark shade of yellow:<br>
  <img src="72_73_33.png" alt="dark yellow" width="50"></li>
      </ul>
    </li>
    <li data-marker="*">The dots, or squares, on our screens are called <strong>pixels</strong>, and images are made up of many thousands or millions of those pixels as well. So by using three bytes to represent the color for each pixel, we can create images. We can see pixels in an emoji if we zoom in, for example:<br>
  <img src="emoji_zoomed.png" alt="zoomed-in emoji of face with medical mask with squares of pixels distinguishable" width="800"></li>
    <li data-marker="*">Videos are sequences of many images, changing multiple times a second to give us the appearance of motion, as a <a href="https://www.youtube.com/watch?v=sz78_07Xg-U">flipbook</a> might.</li>
    <li data-marker="*">Music can be represented with bits, too. <a href="https://en.wikipedia.org/wiki/MIDI">MIDI</a> is one such format which represents music with numbers for each of the notes and their duration and volume.</li>
    <li data-marker="*">So all of these ideas are just zeroes and ones, interpreted and used by software we’ve written to interpret them in the ways that we want.
      <ul>
        <li data-marker="*">There are other formats, some of which use compression (mathematical ways to represent some data with fewer bits), or some which might be containers that store multiple types of data together.</li>
        <li data-marker="*">And since there are many companies and groups developing software, we have lots of different file formats in existence, each with their own ways of representing data. But there are also organizations that work on some consensus, like <a href="https://en.wikipedia.org/wiki/Unicode_Consortium">the one</a> responsible for maintaining the Unicode standard.</li>
      </ul>
    </li>
  </ul>
  
  <h2 id="algorithms">Algorithms</h2>
  
  <ul>
    <li data-marker="*">Now that we can represent inputs and outputs, we can work on problem solving. The black box that transforms inputs to outputs contains <strong>algorithms</strong>, step-by-step instructions for solving problems:<br>
  <img src="algorithms.png" alt="box with word &quot;algorithms&quot;" width="200"></li>
    <li data-marker="*">We might have an application on our phones that store our contacts, with their names and phone numbers sorted alphabetically. The old-school equivalent might be a phone book, a printed copy of names and phone numbers.</li>
    <li data-marker="*">We might open the book and start from the first page, looking for a name one page at a time. This algorithm would be correct, since we will eventually find the name if it’s in the book.</li>
    <li data-marker="*">We might flip through the book two pages at a time, but this algorithm will not be correct since we might skip the page with our name on it.</li>
    <li data-marker="*">Another algorithm would be opening the phone book to the middle, decide whether our name will be in the left half or right half of the book (because the book is alphabetized), and reduce the size of our problem by half. We can repeat this until we find our name, dividing the problem in half each time.</li>
    <li data-marker="*">We can visualize the efficiency of each of those algorithms with a chart:<br>
  <img src="time_to_solve.png" alt="chart with: &quot;size of problem&quot; as x-axis; &quot;time to solve&quot; as y-axis; red, steep straight line from origin to top of graph labeled &quot;n&quot;; yellow, less steep straight line from origin to top of graph labeled &quot;n/2&quot;; green, curved line that gets less and less steep from origin to right of graph labeled &quot;log_2  n&quot;" width="800">
      <ul>
        <li data-marker="*">Our first algorithm, searching one page at a time, can be represented by the red line: our time to solve increases linearly as the size of the problem increases. <em>n</em> is a number representing the size of the problem, so with <em>n</em> pages in our phone books, we have to take up to <em>n</em> steps to find a name.</li>
        <li data-marker="*">The second algorithm, searching two pages at a time, can be represented by the yellow line: our slope is less steep, but still linear. Now, we only need (roughly) <em>n</em> / 2 steps, since we flip two pages at a time.</li>
        <li data-marker="*">Our final algorithm, dividing the phone book in half each time, can be represented by the green line, with a fundamentally different relationship between the size of the problem and the time to solve it. If the phone book doubled in size from 1000 to 2000 pages, we would only need one more step to find our name.</li>
      </ul>
    </li>
  </ul>
  
  <h2 id="pseudocode">Pseudocode</h2>
  
  <ul>
    <li data-marker="*">We can write <strong>pseudocode</strong>, which is a representation of our algorithm in precise English (or some other human language):
      <pre>1  Pick up phone book
  2  Open to middle of phone book
  3  Look at page
  4  If person is on page
  5      Call person
  6  Else if person is earlier in book
  7      Open to middle of left half of book
  8      Go back to line 3
  9  Else if person is later in book
  10     Open to middle of right half of book
  11     Go back to line 3
  12 Else
  13     Quit
  </pre>
      <ul>
        <li data-marker="*">With these steps, we check the middle page, decide what to do, and repeat. If the person isn’t on the page, and there’s no more pages in the book left, then we stop. And that final case is particularly important to remember. When programs or code don’t include that final case, they might appear to freeze or stop responding, or continue to repeat the same work over and over without making any progress.</li>
      </ul>
    </li>
    <li data-marker="*">Some of these lines start with actions or verbs that solve a smaller problem. We’ll start calling these <em>functions</em>:
      <pre>1  <b>Pick up</b> phone book
  2  <b>Open to</b> middle of phone book
  3  <b>Look at</b> page
  4  If person is on page
  5      <b>Call</b> person
  6  Else if person is earlier in book
  7      <b>Open to</b> middle of left half of book
  8      Go back to line 3
  9  Else if person is later in book
  10     <b>Open to</b> middle of right half of book
  11     Go back to line 3
  12 Else
  13     <b>Quit</b>
  </pre>
    </li>
    <li data-marker="*">We also have branches that lead to different paths, like forks in the road, which we’ll call <em>conditionals</em>:
      <pre>1  Pick up phone book
  2  Open to middle of phone book
  3  Look at page
  4  <b>If</b> person is on page
  5      Call person
  6  <b>Else if</b> person is earlier in book
  7      Open to middle of left half of book
  8      Go back to line 3
  9  <b>Else if</b> person is later in book
  10     Open to middle of right half of book
  11     Go back to line 3
  12 <b>Else</b>
  13     Quit
  </pre>
    </li>
    <li data-marker="*">And the questions that decide where we go are called <em>Boolean expressions</em>, which eventually result in answers of yes or no, or true or false:
      <pre>1  Pick up phone book
  2  Open to middle of phone book
  3  Look at page
  4  If <b>person is on page</b>
  5      Call person
  6  Else if <b>person is earlier in book</b>
  7      Open to middle of left half of book
  8      Go back to line 3
  9  Else if <b>person is later in book</b>
  10     Open to middle of right half of book
  11     Go back to line 3
  12 Else
  13     Quit
  </pre>
    </li>
    <li data-marker="*">Lastly, we have words that create cycles, where we can repeat parts of our program, called <em>loops</em>:
      <pre>1  Pick up phone book
  2  Open to middle of phone book
  3  Look at page
  4  If person is on page
  5      Call person
  6  Else if person is earlier in book
  7      Open to middle of left half of book
  8      <b>Go back to line 3</b>
  9  Else if person is later in book
  10     Open to middle of right half of book
  11     <b>Go back to line 3</b>
  12 Else
  13     Quit
  </pre>
    </li>
    <li data-marker="*">We’ll soon encounter other ideas, too:
      <ul>
        <li data-marker="*">functions
          <ul>
            <li data-marker="*">arguments, return values</li>
          </ul>
        </li>
        <li data-marker="*">conditionals</li>
        <li data-marker="*">Boolean expressions</li>
        <li data-marker="*">loops</li>
        <li data-marker="*">variables</li>
        <li data-marker="*">…</li>
      </ul>
    </li>
    <li data-marker="*">And David’s first program just printed “hello, world” to the screen:
      <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>#include &lt;stdio.h&gt;
  
  int main(void)
  {
      printf("hello, world\n");
  }
  </code></pre></div>    </div>
      <ul>
        <li data-marker="*">But this program, written in a language called C, has lots of other syntax that keeps us from focusing on these core ideas.</li>
      </ul>
    </li>
  </ul>
  
  <h2 id="scratch-basics">Scratch basics</h2>
  
  <ul>
    <li data-marker="*">We’ll start programming with a graphical programming language called <a href="https://scratch.mit.edu/">Scratch</a>, where we’ll drag and drop blocks that contain instructions.</li>
    <li data-marker="*">The programming environment for Scratch is a little more friendly:<br>
  <img src="scratch.png" alt="screenshot of Scratch's interface" width="800">
      <ul>
        <li data-marker="*">On the left, we have puzzle pieces that represent functions or variables, or other concepts, that we can drag and drop into the big area in the center.</li>
        <li data-marker="*">On the bottom right, we can add more characters, or sprites, for our program to use.</li>
        <li data-marker="*">On the top right, we have a stage, or the world that will be shown by our program.</li>
      </ul>
    </li>
    <li data-marker="*">The world in Scratch has a coordinate-based system for positioning things on the screen:<br>
  <img src="coordinates.png" alt="cat in center of screen with x and y axes labeled with negative and positive coordinates" width="600">
      <ul>
        <li data-marker="*">The center of the screen is a coordinate of 0 for x and 0 for y, and the top of screen would be 0 for x and 180 for y. The bottom of the screen would still be 0 for x, and -180 for y. The left of the screen would be -240 for x and 0 for y, and the right of the screen would be 240 for x and 0 for y.</li>
      </ul>
    </li>
    <li data-marker="*">Scratch also categorizes its pieces, each of which might be a function, conditional, or more:
      <ul>
        <li data-marker="*">The “Motion” category has functions like the “move” block that will do something:
          <pre><code class="language-scratch">move () steps
  </code></pre>
        </li>
        <li data-marker="*">In the “Events” category, we can see blocks that will activate when something happens, like when the green flag on top of the stage is clicked:
          <pre><code class="language-scratch">when green flag clicked
  </code></pre>
        </li>
        <li data-marker="*">“Control” has conditionals, each of which will only do something if the Boolean expression inside is true:
          <pre><code class="language-scratch">if &lt;&gt; then
  </code></pre>
        </li>
        <li data-marker="*">“Sensing” includes those Boolean expressions, or questions like whether the sprite is touching the mouse pointer:
          <pre><code class="language-scratch">&lt;touching (mouse-pointer v) ?&gt;
  </code></pre>
        </li>
        <li data-marker="*">“Operators” contains blocks that let us do math or pick random numbers, or combine multiple Boolean expressions:
          <pre><code class="language-scratch">&lt;&gt; and &lt;&gt;
  </code></pre>
        </li>
        <li data-marker="*">“Variables” will let us store values like words or numbers, and save them with names like <code class="language-plaintext highlighter-rouge">x</code>, <code class="language-plaintext highlighter-rouge">y</code>, or other full words to describe them.</li>
        <li data-marker="*">We can even combine multiple blocks ourselves into a new puzzle piece, or function, with “My Blocks”.</li>
      </ul>
    </li>
    <li data-marker="*">We can drag a few blocks to make our cat say “hello, world”:
      <pre><code class="language-scratch">when green flag clicked
  say [hello, world]
  </code></pre>
      <ul>
        <li data-marker="*">The purple block, “say”, is a function that takes some sort of <em>input</em>, the text in the white oval, and makes our cat say it on the stage as its output.</li>
      </ul>
    </li>
    <li data-marker="*">We can also drag in the “ask and wait” block, with a question like “What’s your name?”, and combine it with a “say” block for the answer:<br>
      <pre><code class="language-scratch">when green flag clicked
  ask [What's your name?] and wait
  say [hello,]
  say (answer)
  </code></pre>
      <ul>
        <li data-marker="*">The “answer” block is a variable, or value, that stores what the program’s user types in, and we can place it in a “say” block by draggind and dropping as well.</li>
        <li data-marker="*">The “ask and wait” block takes in a question as its input (or <em>argument</em>), and stores its <em>return value</em> into the “answer” block as output.</li>
      </ul>
    </li>
    <li data-marker="*">But we didn’t wait after we said “Hello” with the first block, so we didn’t see the first message of “hello” before it was covered by our name. We can use the “join” block to combine two phrases so our cat can say “hello, David”:<br>
      <pre><code class="language-scratch">when green flag clicked
  ask [What's your name?] and wait
  say (join [hello,] (answer))
  </code></pre>
      <ul>
        <li data-marker="*">Note that the “join” block takes not just one, but two arguments, or inputs, and its <em>output</em>, or the combined phrase, is used immediately as the <em>input</em> to another function, the “say” block:<br>
  <img src="join_say.png" alt="hello, answer blocks as inputs to join block, then output of hello, David as input to say block, then output of cat with speech bubble" width="900"></li>
      </ul>
    </li>
    <li data-marker="*">At the bottom left of the screen, we see an icon for extensions, and one of them is called Text to Speech. After we add it, we can use the “speak” block to hear our cat speak:
      <pre><code class="language-scratch">when green flag clicked
  ask [What's your name?] and wait
  speak (join [hello,] (answer))
  </code></pre>
      <ul>
        <li data-marker="*">The Text to Speech extension, thanks to the cloud, or computer servers on the internet, is converting our text to audio.</li>
      </ul>
    </li>
  </ul>
  
  <h2 id="abstraction">Abstraction</h2>
  
  <ul>
    <li data-marker="*">We can try to make the cat say meow:
      <pre><code class="language-scratch">when green flag clicked
  play sound (Meow v) until done
  wait (1) seconds
  play sound (Meow v) until done
  wait (1) seconds
  play sound (Meow v) until done
  </code></pre>
      <ul>
        <li data-marker="*">We can have it say meow three times, but now we’re repeating blocks over and over.</li>
      </ul>
    </li>
    <li data-marker="*">Let’s use a loop, or a “repeat” block:
      <pre><code class="language-scratch">when green flag clicked
  repeat (3)
  play sound (Meow v) until done
  wait (1) seconds
  </code></pre>
      <ul>
        <li data-marker="*">Now our program achieves the same results, but with fewer blocks. We can consider it to have a better design: if there’s something we wanted to change, we would only need to change it in one place instead of three.</li>
      </ul>
    </li>
    <li data-marker="*">We can use the idea of <strong>abstraction</strong>, or combining several ideas (or puzzle pieces) into one, so we can use and think about them more easily. We’ll go into the “My Blocks” category, and click “Make a Block”, and call it “meow”:
      <pre><code class="language-scratch">define meow
  play sound (Meow v) until done
  wait (1) seconds
  
  when green flag clicked
  repeat (3)
  meow
  </code></pre>
      <ul>
        <li data-marker="*">Now, our main set of blocks can just use the custom “meow” block, and we’ll be able to read this code later and understand what it does more easily.</li>
        <li data-marker="*">We could even drag the set of blocks with “define meow” to the bottom of the screen so it’s not visible, and this will still work, even if we don’t know the <strong>implementation details</strong>, or exactly how our custom block works.</li>
      </ul>
    </li>
    <li data-marker="*">We can change the “meow” block to take an input, so it can repeat any number of times:
      <pre><code class="language-scratch">define meow [n] times
  repeat (n)
  play sound (Meow v) until done
  wait (1) seconds
  
  when green flag clicked
  meow [3] times
  </code></pre>
      <ul>
        <li data-marker="*">Now, our “meow” block achieves the same effect, but we can easily reuse it or change the number of times our cat says meow.</li>
      </ul>
    </li>
    <li data-marker="*">A good strategy when programming is breaking down a larger problem into smaller subproblems, and solving those first.</li>
  </ul>
  
  <h2 id="conditionals-and-more">Conditionals and more</h2>
  
  <ul>
    <li data-marker="*">We’ll try to have our cat make a sound if we “pet” it with our mouse:
      <pre><code class="language-scratch">when green flag clicked
  if &lt;touching (mouse-pointer v)?&gt; then
  play sound (Meow v) until done
  </code></pre>
      <ul>
        <li data-marker="*">But this doesn’t seem to work. That’s because the cat is checking whether the mouse pointer is touching it right as the green flag is clicked, and nothing happens since we’re clicking the flag.</li>
      </ul>
    </li>
    <li data-marker="*">We can have our cat check over and over with the “forever” block:
      <pre><code class="language-scratch">when green flag clicked
  forever
  if &lt;touching (mouse-pointer v)?&gt; then
  play sound (Meow v) until done
  </code></pre>
    </li>
    <li data-marker="*">We can add another extension, “Video Sensing”:
      <pre><code class="language-scratch">when video motion &gt; (50)
  play sound (Meow v) until done
  </code></pre>
      <ul>
        <li data-marker="*">Now, if we move in view of the camera slowly, our cat won’t make a sound, but if we move quickly, it will.</li>
      </ul>
    </li>
  </ul>
  
  <h2 id="demos">Demos</h2>
  
  <ul>
    <li data-marker="*">With a volunteer from the audience, we demonstrate a <a href="https://scratch.mit.edu/projects/565362715">whack-a-mole</a> game.</li>
    <li data-marker="*">We also take a look at <a href="https://scratch.mit.edu/projects/277537196">Oscartime</a>, another game where the player drags trash into a trashcan for points.</li>
    <li data-marker="*">We’ll take a look at how we might have built this program. First, we can add an image of the <a href="https://scratch.mit.edu/projects/565133620">lamp post</a> as a backdrop:<br>
  <img src="lamppost.png" alt="image of lamppost in Scratch's editor interface" width="400"></li>
    <li data-marker="*">Then, we’ll add images of <a href="https://scratch.mit.edu/projects/565100517">trash cans</a>, with one open and one closed:
      <pre><code class="language-scratch">when green flag clicked
  switch costume to (oscar1 v)
  forever
  if &lt;touching (mouse-pointer v)?&gt; then
  switch costume to (oscar2 v)
  else
  switch costume to (oscar1 v)
  </code></pre>
      <ul>
        <li data-marker="*">We name these costumes “oscar1” and “oscar2”, and whenever the mouse is touching it, the trash can will appear to be open.</li>
      </ul>
    </li>
    <li data-marker="*">Then, we’ll work on a piece of <a href="https://scratch.mit.edu/projects/565117390">falling trash</a>:
      <pre><code class="language-scratch">when green flag clicked
  go to x: (pick random (-240) to (240)) y: (180)
  forever
  if &lt;(distance to (floor v)) &gt; (0)&gt; then
  change y by (-3)
  </code></pre>
      <ul>
        <li data-marker="*">We move the trash sprite to a random horizontal position, and have it move downwards over and over while the distance to the floor (another sprite that’s a black line) is more than 0.</li>
      </ul>
    </li>
    <li data-marker="*">We’ll allow <a href="https://scratch.mit.edu/projects/565119737">dragging trash</a> with these blocks:
      <pre><code class="language-scratch">when green flag clicked
  forever
  if &lt;&lt;mouse down?&gt; and &lt;touching (mouse-pointer v) ?&gt;&gt; then
  go to (mouse-pointer v)
  </code></pre>
      <ul>
        <li data-marker="*">If the mouse is down and touching the trash, then our trash will move to the mouse’s location.</li>
      </ul>
    </li>
    <li data-marker="*">Finally, we’ll use <a href="https://scratch.mit.edu/projects/565472267">variables</a> to keep track of our score:
      <pre><code class="language-scratch">when green flag clicked
  forever
  if &lt;touching (Oscar v) ?&gt; then
  change (score) by (1)
  go to x: (pick random (-240) to (240)) y: (180)
  </code></pre>
      <ul>
        <li data-marker="*">Now, we have another sprite called “Oscar”, and if the trash is touching it, then it will add 1 to the “score” variable, and move back to the top at a random horizontal position so we can continue the game.</li>
      </ul>
    </li>
    <li data-marker="*">Now, we’ll take a look at <a href="https://scratch.mit.edu/projects/565121265">moving</a>. Here, we have a few different scripts, one checking for whether keys are being pressed, and one for whether our sprite is touching a wall:
      <pre><code class="language-scratch">when green flag clicked
  go to x: (0) y: (0)
  forever
  listen for keyboard
  feel for walls
  
  define listen for keyboard
  if &lt;key (up arrow v) pressed?&gt; then
  change y by (1)
  end
  if &lt;key (down arrow v) pressed?&gt; then
  change y by (-1)
  end
  if &lt;key (right arrow v) pressed?&gt; then
  change x by (1)
  end
  if &lt;key (left arrow v) pressed?&gt; then
  change x by (-1)
  end
  
  define feel for walls
  if &lt;touching (left wall v) ?&gt; then
  change x by (1)
  end
  if &lt;touching (right wall v) ?&gt; then
  change x by (-1)
  end
  </code></pre>
      <ul>
        <li data-marker="*">Our main script, when the green flag is clicked, will move our sprite to the center of the stage at 0, 0 and then “listen for keyboard” and “feel for walls” forever.</li>
        <li data-marker="*">The custom “listen for keyboard” script has blocks that will change our sprite’s x- or y-coordinate on the stage for each of the arrow keys, moving it around.</li>
        <li data-marker="*">The “feel for walls” script will check whether the sprite is now touching a wall, and move it back if it is.</li>
      </ul>
    </li>
    <li data-marker="*">We can make another sprite <a href="https://scratch.mit.edu/projects/565127193">bounce</a> back and forth, like it’s getting in our way:
      <pre><code class="language-scratch">when green flag clicked
  go to x: (0) y: (0)
  point in direction (90)
  forever
  if &lt;&lt;touching (left wall v)?&gt; or &lt;touching (right wall v)?&gt;&gt; then
  turn right (180) degrees
  end
  move (1) steps
  end
  </code></pre>
      <ul>
        <li data-marker="*">First, we’ll move the sprite to the middle and have it point 90 degrees to the right.</li>
        <li data-marker="*">Then, we’ll constantly check if it’s touching a wall and turn 180 degrees (reversing direction) if so, and move 1 step every time.</li>
      </ul>
    </li>
    <li data-marker="*">We can have one sprite <a href="https://scratch.mit.edu/projects/565479840">follow</a> another:
      <pre><code class="language-scratch">when green flag clicked
  go to (random position v)
  forever
  point towards (Harvard v)
  move (1) steps
  </code></pre>
      <ul>
        <li data-marker="*">Our sprite will start at a random position, and move towards our “Harvard” sprite one step at a time.</li>
        <li data-marker="*">We can change the script to move two steps at a time, so it will always catch up.</li>
      </ul>
    </li>
    <li data-marker="*">We’ll finish by trying out the full <a href="https://scratch.mit.edu/projects/565742837">Ivy’s Hardest Game</a> with a volunteer.</li>
    <li data-marker="*">See you next time!</li>
  </ul>