.Videosmallerdevices{
    display: none;
}
.bigdevicevid{
    display: block;
}
.smalldevicevid{
    display: none;
}
.code{
  font-style: monospace;   
}

.side-menu {
    position: fixed !important;
    height: 100vh;
    width: 25vw;
    min-width: 200px;
}

.side-menu-clicked {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    color: white !important;
    padding: 10px;
    border: 0;
}

.background {
    padding-left: 30vw !important;
    max-width: 250rem !important;
    overflow: hidden !important;
}

.main {
    color: black !important;
    font-size: larger;
    width: 100%;
    margin-bottom: 30px !important;
}

.mainitem a {
    color: white !important;
    text-decoration: none !important;
}

.mainitem {
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    max-width: 700px;
    display: inline-block;
    margin-bottom: 15px !important;
}


.sidemenu {
    padding-left: 0 !important;
    display: block;
}

.menuitems li {
    cursor: pointer;
}

.DropdownRow {
    display: none;
}

.videosmall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.videocontainer div {
    position: relative;
    max-width: 110rem !important;
    width: 85%;
    height: 0;
    padding-bottom: 56.25%;
    display: inline-block;
}

.videocontainer {
    margin-bottom: 0;
    flex-direction: column;
}
.videocontainershorts{
    margin-bottom: 0;
    flex-direction: column;
}
.videocontainershorts div {
    position: relative;
    width: 85%;
    height: 0;
    padding-bottom: 56.25%;
    display: inline-block;
}

.weeks {
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 70%;
    max-width: 200px;
    display: inline-block;
    margin-bottom: 15px;
}
.shell{
    height: 155px !important;
}

.weeks a {
    color: white !important;
    text-decoration: none !important;
}

@media (max-width: 767px) {


    .background{
        margin-top: 140px !important;
    }

    .side-menu {
        position: relative !important;
        width: 100vw !important;
        z-index: 2 !important;
    }

    .weekcontainer {
        margin-bottom: 20px !important;
    }

    .mainitem {
        font-size: 20px;
    }

    .mainitem div {
        margin-bottom: 6px !important;
    }

    .background {
        max-width: 100%;
        overflow-x: hidden !important;
        position: relative;
        width: 100%;
    }

    .DropdownRow {
        display: block;
    }

    .sidemenu ul {
        display: none;
        background-color: black;
        height: fit-content;
        z-index: 20 !important;
        position: absolute;
        top: 65px;
        width: 100vw;
    }
    .topmenudropdown div h3 a{
        color: white !important;
    }

    .sidemenu {
        height: 65px;
        margin: 0;
        padding: 0;
    }

    .sidemenu h1 {
        background-color: none !important;
    }

    label.Dropdown {
        display: block;
        background: none;
        width: 75px;
        height: 40px;
        top: 9px;
        left: 10px;
        position: absolute;
        border-radius: 4px;
        z-index: 2;
    }

    input#Dropdown {
        display: none
    }

    .DropLine {
        position: absolute;
        left: 10px;
        height: 4px;
        width: 45px;
        background: white;
        border-radius: 2px;
        display: block;
        transition: 0.5s;
        transform-origin: center;
    }

    .DropLine:nth-child(1) {
        top: 8px;
    }

    .DropLine:nth-child(2) {
        top: 20px;
    }

    .DropLine:nth-child(3) {
        top: 32px;
    }

    #Dropdown:checked+.Dropdown .DropLine:nth-child(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    #Dropdown:checked+.Dropdown .DropLine:nth-child(2) {
        opacity: 0;
    }

    #Dropdown:checked+.Dropdown .DropLine:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
    }

    .shell {
        height: 0 !important;
    }

    .video {
        height: 200px !important;
    }

    .background {
        padding-left: 0 !important;
    }

    .mainvideocontainer {
        display: none;
    }
    .topmenu{
        display: none !important;
    }
    .Videosmallerdevices{
        display: block;
    }
    .bigdevicevid{
        display: none;
    }
    .smalldevicevid{
        display: block;
    }
    .lecture-slides iframe{
        min-height: 700px !important;
    }
    .lecture-video{
        min-height: 700px !important;
    }

}
@media (min-width: 767px) and (max-width:1200px){
    .topmenumain {
        background-color: black;
        color: white;
        padding-left: 25.2vw;
        margin-bottom: 0;
        max-height: 135px;
    }
    .topmenu {
        display: none;
    }
    .shell{
        height: 100px !important;
    }
    
}

@media (min-width: 1200px) {

    .lecture-slides iframe{
        min-height: 1000px !important;
    }

    .mainitemcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 8%;
        margin-right: 8%;

    }
    .topmenumain {
        background-color: black;
        color: white;
        padding-left: 25.2vw;
        margin-bottom: 30px;
        max-height: 135px;
    }

    .mainitem {
        max-width: 250px !important;
    }
    .topmenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 8%;
        margin-right: 8%;
    }
    
    .topmenu h2 {
        margin-bottom: 10px !important;
        padding: 10px;
        cursor: pointer;
        max-width: 200px;
        min-width: 200px;
        z-index: 2 !important;
        border-top: solid 2px black !important;
        border-bottom: 0 !important;
    }
    
    .topmenu h2:hover {
        background-color: rgb(30, 30, 30);
        border: solid white 2px !important;
        border-radius: 15px;
        z-index: 2 !important;
        overflow: visible;
        
    }
    .topmenu h3:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
    .topmenu h3    {
        padding: 10px !important;
        border-radius: 20px;
    }
    .topmenudropdown {
        display: none;
    }
    
    .topmenu h2:hover .topmenudropdown {
        display: block;
    }
    .whitetopmenu{
        color: white !important;
    }
}

@media (min-width: 1400px) {
    .mainitem {
        max-width: 300px !important;
    }
}