* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
}

a {
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

aside .col-md {
    flex: 0 1 20rem;
}

.side-menu h1 {
    background: #000000;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.side-menu ul li {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
}

.side-menu ul li a {
    color: #ccc;
    display: block
}

.side-menu ul li:hover {
    background: #111;
}

.side-menu ul li:hover a{
    color: #fff;
}

.top-menu {
    text-align: center;
}
/*
.top-menu .col-sm {
    border: 1px solid;
}
*/
.top-menu .top-menu-upper {
    height: 40px;
    line-height: 40px;
    background: #eee;
}

.top-menu .top-menu-upper a{
    color: #000;
}

.top-menu .top-menu-lower {
    height: 45px;
    line-height: 45px;
    background-color: #000;
}

.top-menu .top-menu-lower a {
    color: #fff;
}

.main-content {
    padding-top: 10px;
}

.shorts-video iframe {
    padding: 10px;
}