<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="static/favicon.ico" rel="icon">
        <link href="../static/style.css" rel="stylesheet">
        <title>Plus50x: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <section class="header">
                <div id="welcome">Hello and welcome</div>
        </section>
        <section class="sidebar">
                <div class="side-menu">
                    <h2>PLUS50x</h2>
                    <ul>
                       <li><a href="#">Week 0 Scratch</a></li>
                       <li><a href="#">Week 1 C</a></li>
                       <li><a href="#">Week 2 Arrays</a></li>
                       <li><a href="#">Week 3 Algorithms</a></li>
                       <li><a href="#">Week 4 Memory</a></li>
                       <li><a href="#">Week 5 Data Structures</a></li>
                       <li><a href="#">Week 6 Python</a></li>
                       <li><a href="#">Week 7 SQL</a></li>
                       <li><a href="#">Week 8 HTML, CSS, JavaScript</a></li>
                       <li><a href="#">Week 9 Flask</a></li>
                       <li><a href="#">Week 10 Emoji</a></li>
                    </ul>
                </div>
        </section>
        <section class="topbar">
                <div class="top-menu">
                    <ul>
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Shorts</a></li>
                        <li><a href="#">Notes</a></li>
                        <li><a href="#">Lab</a></li>
                    </ul>
                </div>
        </section>
        <section id="main">
            <div id="some-content">This is main content.</div>
        </section>
    </body>
</html>