<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="static/favicon.ico" rel="icon">
        <link href="../static/page.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
        <title>Plus50x: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <section class="header">
        </section>
        <section class="sidebar">
                <div class="side-menu">
                    <h1><a href="../..">PLUS50x</a></h1>
                    <ul>
                       <li><a href="#">Week 0 Scratch</a></li>
                       <li><a href="#">Week 1 C</a></li>
                       <li><a href="#">Week 2 Arrays</a></li>
                       <li><a href="#">Week 3 Algorithms</a></li>
                       <li><a href="#">Week 4 Memory</a></li>
                       <li><a href="#">Week 5 Data Structures</a></li>
                       <li><a href="#">Week 6 Python</a></li>
                       <li><a href="#">Week 7 SQL</a></li>
                       <li><a href="#">Week 8 HTML, CSS, JavaScript</a></li>
                       <li><a href="#">Week 9 Flask</a></li>
                       <li><a href="#">Week 10 Emoji</a></li>
                    </ul>
                </div>
        </section>
        <section class="topbar">
                <div class="top-menu container">
                    <div class="top-menu-main row">
                        <div class="col-sm">
                            <a href="#">Lecture</a>
                        </div>
                        <div class="col-sm">
                            <a href="#">Shorts</a>
                        </div>
                        <div class="col-sm">
                            <a href="#">Problem Set 1</a>
                        </div>
                    </div>
                    <div class="top-menu-sub row">
                        <div class="col-sm">
                            <a href="video">Video</a>
                        </div>
                        <div class="col-sm">
                            <a href="notes">Notes</a>
                        </div>
                        <div class="col-sm">
                            <a href="#">Slides</a>
                        </div>
                        <div class="col-sm">
                            <a href="#">Source Code</a>
                        </div>
                        <div class="col-sm">
                            <a href="#">Transcript</a>
                        </div>
                    </div>
                </div>
        </section>
        <section class="main">
            <div class="main-content">
                {% block main %}

                {% endblock %}
            </div>
        </section>
    </body>
</html>