{% extends "layout.html" %}

{% block main %}
    
<div class="row">
    <div class="main-content col-md">
        <h1 class="no_toc text-center" id="lecture-1">Lecture {{ index }}: {{ lecture }}</h1>

        {% include notes %}
    
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('#lecture').style.color = "#fff";
        document.querySelector('#lecture-column').style.backgroundColor = "#000";
    });
</script>

{% endblock %}
