{% extends "layout.html" %}

{% block main %}
<div class="row">
    <div class="main-content col-md">
        {% if problems == True %}
        <h1 class="no_toc text-center" id="lecture-1">Problem Set {{ index }}</h1>
        {% endif %}
        {% include problem %}

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('#problems').style.color = "#fff";
                document.querySelector('#problems-column').style.backgroundColor = "#000";
            });
        </script>
    </div>
</div>
{% endblock %}