{% extends "layout.html" %}
{% block main %}
<div class="container">

    <div class="switch-holder">
        <div class="switch-label">
            <i class="fa fa-wifi"></i><span>Darkmode</span>
        </div>
        <div class="switch-toggle">
            <input type="checkbox" id="Darkmode" onclick="Darkmode()">
            <label for="Darkmode"></label>
        </div>
    </div>


</div>
<script defer>
var checkBox = document.getElementById("Darkmode");
    if(getCookie("Darkmode")){
        checkBox.click();
    }
   function Darkmode(){

        if(getCookie("CookiesAllowed") != null){
            if(checkBox.checked == true){
                document.body.style.backgroundColor  = "grey";
                document.body.style.color ="white";
                document.cookie = "Darkmode=True";
            } else {
                document.body.style.backgroundColor  = "white";
                document.cookie = "Darkmode"+'=; Max-Age=-99999999;';
                document.body.style.color ="black";

            }
        }
   }
   function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if(c.indexOf(name) == 0)
                return c.substring(name.length,c.length);
            }
        }
</script>
<style>
.background{
    padding-left: 25vw !important;
}

    * {
    box-shadow: none;
}

.container {
    max-width: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.switch-holder {
    background-color: rgba(109, 109, 109, 0.575);
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.switch-label {
    width: 150px;
}

.switch-label i {
    margin-right: 5px;
}

.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255,255,255,.6),
                inset 10px 10px 10px rgba(0,0,0, .25);
    
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: 'OFF';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #d1dad3;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
                3px 3px 5px rgba(0,0,0, .25);
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50%;
    content: 'ON';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
                3px 3px 5px #00b33c;
}

</style>
{% endblock %}
