{% extends "layout.html" %}

{% block main %}
<div class="top-menu row">
    <div class="top-menu-upper row">
        <div id="lecture-column" class="col-sm">
            <a id="lecture" href="lecture{{ index }}">Lecture</a>
        </div>
        <div id="shorts-column" class="col-sm">
            <a id="shorts" href="shorts{{ index }}">Shorts</a>
        </div>
        <div id="pset-column" class="col-sm">
            <a id="pset" href="problems{{ index }}">Problem Sets</a>
        </div>
    </div>
    <div class="top-menu-lower row">
        {% for item in shorts %}
        <div class="col-sm">
            <a href="shorts{{ index }}-{{ item }}">{{ item }}</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="main-content col-md">
        <h1 class="no_toc" id="lecture-1">Lecture {{ index }}: {{ lecture }}</h1>
        <div class="shorts-video">
            {% if index == 0 or index == 10 %}
                <h4>No shorts for this lecture.</h4>
            {% else %}
                <iframe id="shorts0" src="https://www.youtube.com/embed/{{ shorts[short] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}    
        </div> 
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('#shorts').style.color = "#fff";
                document.querySelector('#shorts-column').style.backgroundColor = "#000";
            });
        </script>
    </div>
</div>
{% endblock %}