{% extends "layout.html" %}

{% block main %}
<div class="row">
    <div class="main-content col-md">
        <div class="shorts-video">
            {% if index == 0 or index == 10 %}
                <h4>No shorts for this lecture.</h4>
            {% else %}
            <div class="videocontainer text-center">
                <div class="lecture-video">
                    <iframe id="shorts0" class="videosmall" src="https://www.youtube.com/embed/{{ shorts[short] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            {% endif %}    
        </div> 
    </div>
</div>
{% endblock %}