{% extends "layout.html" %}

{% block main %}
    
<div class="row">
    <div class="main-content col-md">
        <div class="lecture-slides">
            <iframe src="https://cdn.cs50.net/2021/fall/lectures/{{ index }}/lecture{{ index }}.pdf" width="100%" height="100%"></iframe>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('#lecture').style.color = "#fff";
                document.querySelector('#lecture-column').style.backgroundColor = "#000";
            });
        </script>
    </div>
</div>

{% endblock %}