{% extends "layout.html" %}

{% block main %}
<div class="row">
    <div class="main-content col-md">
        <h1 class="no_toc text-center" id="lecture-1">Lecture {{ index }}: {{ lecture }}</h1>
        <div class="source">
        {% if index == 9 or (index > 3 and index < 8) %}
            <h4>Not implemented for this lecture yet.</h4>
            <!-- Required multilevel menu -->
        {% elif index == 0 or index == 10 %}
            <h4>No source available for this lecture.</h4>
        {% else %}
            <select id="select">
                {% for item in source %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>

            <pre id="render-src">
        // Logical operators

        #include &lt;cs50.h&gt;
        #include &lt;stdio.h&gt;

        int main(void)
        {
            // Prompt user to agree
            char c = get_char("Do you agree? ");

            // Check whether agreed
            if (c == 'Y' || c == 'y')
            {
                printf("Agreed.\n");
            }
            else if (c == 'N' || c == 'n')
            {
                printf("Not agreed.\n");
            }
        }
            </pre>
        {% endif %}
        </div>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('#lecture').style.color = "#fff";
                document.querySelector('#lecture-column').style.backgroundColor = "#000";
            });

            document.querySelector('#select').addEventListener('change', function() {
                let index = '{{ index }}';
                let path = "static/files/source/src" + index +"/" + this.value;
                fetch(path)
                    .then(response => response.text())
                    .then(text => document.querySelector('#render-src').innerText = text);
            });
        </script>
    </div>
</div>
{% endblock %}