{% extends "layout.html" %}

{% block main %}
<div class="top-menu-lower row">
    <div class="col-sm">
        <a href="video">Video</a>
    </div>
    <div class="col-sm">
        <a href="notes">Notes</a>
    </div>
    <div class="col-sm">
        <a href="slides">Slides</a>
    </div>
    <div class="col-sm">
        <a href="source">Source Code</a>
    </div>
    <div class="col-sm">
        <a href="transcript">Transcript</a>
    </div>
</div>
</div>     
<div class="main-content row">
    <h1 class="no_toc" id="lecture-1">Lecture 1</h1>
<div class="source">
    <select id="select">
        {% for item in source %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <pre id="render-src">
// Logical operators

#include &lt;cs50.h&gt;
#include &lt;stdio.h&gt;

int main(void)
{
    // Prompt user to agree
    char c = get_char("Do you agree? ");

    // Check whether agreed
    if (c == 'Y' || c == 'y')
    {
        printf("Agreed.\n");
    }
    else if (c == 'N' || c == 'n')
    {
        printf("Not agreed.\n");
    }
}
    </pre>
    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#lecture').style.color = "#fff";
            document.querySelector('#lecture-column').style.backgroundColor = "#000";
        });

        document.querySelector('#select').addEventListener('change', function() {
            let path = "templates/files/source/src1/" + this.value;
            fetch(path)
                .then(response => response.text())
                .then(text => document.querySelector('#render-src').innerText = text);
        });
    </script>
</div>
{% endblock %}