{% extends "layout.html" %}

{% block main %}

<div class="row">
    <div class="main-content col-md">
        <h1 class="no_toc text-center" id="lecture-1">Lecture {{ index }}: {{ lecture }}</h1>
        {% if index == 0 %}
            <h5>The video from this lecture is the only one that cannot be embeded, for some reason.</h5>
            <a href="https://www.youtube.com/watch?v=4zy0z5W0-w4">Click here to watch on YouTube</a>
        {% endif %}
        <div class="lecture-video">
            <iframe class="video" src="https://www.youtube.com/embed/{{ video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('#lecture').style.color = "#fff";
                document.querySelector('#lecture-column').style.backgroundColor = "#000";
            });
        </script>
    </div>
</div>
{% endblock %}
